.col {
  @extend %clearfix;
}

.one-third,
.one-half {
  float: left;
}

.one-third {
  width: 33.33%;
}

.one-half {
  width: 50%;
}

.scroll-column {
  position: absolute;
  height: 100%;
  overflow-y: auto;
}

.scroll-column-2 {
  right: 0;
}
