//
// Typography
//

html {
  font-size: 62.5%;
  font-family: $recta-regular;
}

body,
h1, h2, h3, h4, h5, h6 {
  font-size: $regular-font-size;
  line-height: $regular-font-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

@include break(hand) {
  body,
  h1, h2, h3, h4, h5, h6 {
    font-size: 5.5vw;
    line-height: 6.5vw;
  }
}
