//
// Typography
//

html {
  font-size: 62.5%;
  font-family: $recta-regular;
  text-rendering: geometricPrecision;

  @include breakpoint(xs) {
    text-rendering: auto;
  }
}

body,
h1, h2, h3, h4, h5, h6 {
  @include font--default;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}
