// Controls

.color-scheme--dark {
  background: $dark-gray;

  .controls,
  .site-title {
    &,
    a {
      color: #fff;
    }
  }

  .previous-button,
  .next-button,
  .down-button {
    stroke: #fff;
  }
}

.color-scheme--light,
.color-scheme--dark {
  .controls {
    display: block !important;
  }
}

.showing-post-information {
  .controls,
  .site-title {
    &,
    a {
      color: #fff;
    }
  }
}

.post-information-transition-out {
  .showing-post-information.color-scheme--light {
    .controls,
    .site-title {
      color: #000 !important;
    }
  }
}

.controls {
  display: none;
  transition: opacity $tt-long;
}

.control-button {
  position: fixed;
  z-index: 10;
  cursor: pointer;
}

.close-button,
.read-button,
.images-button,
.information__close-button,
.grid-button,
.list-button {
  top: 20px;

  &:hover {
    opacity: 0;
  }
}

.close-button,
.information__close-button {
  left: 50%;
}

.close-button {
  padding-left: 20px;
}

.read-button,
.images-button{
  left: 64%;
}

.information__close-button {
  display: none;
  top: 72px;
  margin-left: 3rem;

  .information-open & {
    display: block;
  }
}

.read-button {
  .showing-post-information & {
    display: none;
  }
}

.images-button {
  display: none;

  .showing-post-information &  {
    display: block;
  }
}

.grid-button,
.list-button {
  left: 80%;
  z-index: 1;

  .single-project-loaded & {
    display: none;
  }
}

.previous-button,
.next-button,
.down-button {
  bottom: 30px;
  z-index: 9;
  stroke: #000;
}

.previous-button,
.next-button {
  width: $regular-font-size / 2;
}

.previous-button {
  left: 15px;
}

.next-button {
  right: 15px;
}

.down-button {
  width: $regular-font-size * 2.25;
  left: 50%;
  transform: translate(-50%);
}

.previous-button__post-name,
.next-button__post-name {
  white-space: nowrap;
}

.previous-button__post-name,
.next-button__post-name {
  position: absolute;
  top: 50%;
  margin-top: -0.6em;
  line-height: normal;
  transition: transform $tt;
  z-index: 10;
}

.previous-button__post-name {
  right: calc(100% + 15px);

  a {
    padding-left: 50px;
  }
}

.next-button__post-name {
  left: calc(100% + 15px);

  a {
    padding-right: 50px;
  }
}

.previous-button:hover {
  .previous-button__post-name {
    transform: translate(calc(100%));
  }
}


.next-button:hover {
  .next-button__post-name {
    transform: translate(calc(-100%));
  }
}
