// Controls

.controls,
.site-title {
  &,
  a,
  svg * {
    @include breakpoint(sm) {
      transition: color $tt-long, stroke $tt-long, opacity $tt !important;
    }
  }
}

.color-scheme--dark {
  background: $dark-gray;

  .controls,
  .site-title {
    &,
    a {
      color: #fff;
    }
  }

  .previous-button,
  .next-button,
  .down-button {
    color: #fff;
  }
}

.color-scheme--light,
.color-scheme--dark {
  .controls {
    display: block !important;
  }
}

.information-open,
.showing-post-information {
  @include breakpoint(xs) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .controls,
  .site-title {
    &,
    a {
      color: #fff !important;
    }
  }
}

.information-open {
  .grid-button {
    display: none;
  }
}

// Background checker
.background-checker,
.background-checker-bottom {
  position: fixed;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: -1;
}

.background-checker {
  top: 0;
}

.background-checker-bottom {
  bottom: 0;
}

// Background check plugin classes
.background--light,
.color-scheme--light {
  .controls,
  .site-title {
    &,
    a,
    svg * {
      color: #000;
      stroke: #000;
    }
  }
}

.background--dark,
.color-scheme--dark {
  .controls,
  .site-title {
    &,
    a,
    svg * {
      color: #fff;
      stroke: #fff;
    }
  }
}

.controls__bottom-controls {
  &.background--light {
    a,
    svg * {
      color: #000;
      stroke: #000;
    }
  }
}

.controls__bottom-controls {
  &.background--dark {
    a,
    svg * {
      color: #fff;
      stroke: #fff;
    }
  }
}

.post-information-transition-out {
  .showing-post-information.color-scheme--light {
    .controls,
    .site-title {
      color: #000 !important;
    }
  }
}

.showing-post-information {
  .previous-button,
  .next-button,
  .down-button {
    opacity: 0;
  }
}

.controls {
  display: none;

  @include breakpoint(sm) {
    transition: opacity $tt-long;
  }
}

.control-button {
  text-transform: uppercase;
  position: fixed;
  z-index: 10;
  cursor: pointer;
  left: 0;

  svg * {
    stroke: #000;
  }
}

.close-button,
.read-button,
.images-button,
.information__close-button,
.grid-button,
.list-button {
  top: $page-top-gutter-mobile;
  padding-left: $gutter;

  @include breakpoint(sm) {
    top: $page-top-gutter;
    padding-left: $gutter/2;

    &:hover {
      opacity: 0;
    }
  }
}

.information__close-button,
.close-button {
  right: $gutter;

  @include breakpoint(xs) {
    left: auto;
  }

  @include breakpoint(sm) {
    right: auto;
    padding-left: $gutter;
  }
}

.information__close-button-wrapper {
  @include breakpoint(xs) {
    position: absolute;
    top: 0;
    right: 0;

    br {
      display: none;
    }
  }
}

.information__close-button {
  display: none;

  .information-open & {
    display: block;
  }
}

.read-button {
  bottom: $page-bottom-gutter-mobile;

  @include breakpoint(xs) {
    top: auto;
  }

  @include breakpoint(sm) {
    bottom: auto;
  }

  .showing-post-information & {
    display: none;
  }
}

.images-button {
  display: none;

  bottom: $page-bottom-gutter-mobile;

  @include breakpoint(xs) {
    top: auto;
  }

  @include breakpoint(sm) {
    bottom: auto;
  }

  .showing-post-information &  {
    display: block;
  }
}

.grid-button,
.list-button {
  @include breakpoint(xs) {
    top: $gutter;
    right: $gutter;
    left: auto;
    transform: rotate(90deg);
    transform-origin: bottom;
    padding: 0;
  }

  @include breakpoint(sm) {
    @include col-offset(6);
    z-index: 1;

    .single-project-loaded & {
      display: none;
    }

    .js-single-project-closing & {
      display: block;
      opacity: 1;
    }
  }
}

.previous-button,
.next-button,
.down-button {
  bottom: 30px;
  z-index: 9;
}

.previous-button,
.next-button {
  display: none;
  width: $regular-font-size;

  @include breakpoint(sm) {
    display: block;
    width: $regular-font-size / 2;
  }
}

.previous-button {
  left: 15px;
}

.next-button {
  left: auto;
  right: 15px;
}

.down-button {
  display: none;
  width: $regular-font-size * 5;
  left: 50%;
  transform: translate(-50%);

  @include breakpoint(sm) {
    transition: opacity $tt;
    display: block;
    width: $regular-font-size * 2.25;
  }

  .js-has-scrolled & {
    opacity: 0;
  }
}

.previous-button__post-name,
.next-button__post-name {
  white-space: nowrap;
}

.previous-button__post-name,
.next-button__post-name {
  position: absolute;
  top: 50%;
  margin-top: -0.6em;
  line-height: normal;
  z-index: 10;

  @include breakpoint(sm) {
    transition: transform $tt;
  }
}

.previous-button__post-name {
  right: calc(100% + 15px);

  a {
    padding-left: 50px;
  }
}

.next-button__post-name {
  left: calc(100% + 15px);

  a {
    padding-right: 50px;
  }
}

.previous-button:hover {
  .previous-button__post-name {
    transform: translate(calc(100%));
  }
}


.next-button:hover {
  .next-button__post-name {
    transform: translate(calc(-100%));
  }
}

.js-single-project-closing {
  .close-button,
  .read-button {
    opacity: 0;
  }
}
