@include breakpoint(sm) {
  body:not(.closing):not(.single-project-loaded) .home__post-title-wrapper:not(.active) {
    &:hover {
      .home__post-title,
      .home__post-category {
        display: inline;
      }

      .home__post-title {
        visibility: hidden;
      }

      .home__post-image {
        transform: translate(-50%, 0);
        z-index: 2;
      }
    } // :hover
  } // .home__post-title-wrapper
}

.home__post-title-wrapper {
  display: inline-block;

  @include breakpoint(sm) {
    &:hover {
      // width: 100%;

      .home__post-title-link {
        display: inline-block;
      }
    }
  }

  @include breakpoint(sm) {
    &.active {
      .home__post-image__inner {
        transform: translate(0, 0);
      }
    }
  }
}

.home__post-category {
  display: none;
}

.home__post-image {
  display: none;

  @include breakpoint(sm) {
    display: block;
    position: fixed;
    // width: calc(100% + #{$gutter});
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    z-index: 1;
    overflow: hidden;
    transition: transform $tt-long $easing;

    .grid-mode & {
      width: 100%;
    }
  }
}

.home__post-image__inner {
  background-size: cover;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform: translate(-25%, 0);

  @include breakpoint(sm) {
    transition: transform $tt-long $easing;
  }
}

.information-link-wrapper {
  position: fixed;
  top: 100%;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;

  a {
    color: #fff;
  }
}

.is-hovering-on-list-item,
.list-mode.js-single-project-closing {
  .information-link-wrapper {
    z-index: -1;
  }
}

.information-link-inner-wrapper {
  position: absolute;
  background: #000;
  width: 100%;
  height: 2em;
  top: -2em;
  line-height: 2;
  left: 0;
}

.information-link {
  text-transform: uppercase;

  &:hover {
    opacity: 0;
  }
}

.information__close-button {
  cursor: pointer;
}

// Information page
.page-information {
  .information-link-wrapper {
    transform: translate(0px, -100vh);
  }
}

// Home page single project ajax loaded
body.single-project-loaded {
  @include single-project;
} // body.single-project-loaded

body.closing {
  .home__post-image {
    // position: absolute;
  }

  .home__post-title-wrapper {
    display: inline-block;
  }

  .ajax-wrapper {
    display: block;
  }
}

.ajax-wrapper__featured-image {
  @include breakpoint(sm) {
    height: 100vh;
  }
}

.ajax-wrapper {
  display: none;
  // padding-top: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  &,
  .content {
    background: #fff;
  }

  .color-scheme--dark & {
    &,
    .content {
      background: $dark-gray;
    }
  }

  @include breakpoint(xs) {
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
  }
} // .ajax-wrapper

// Fanton site title rollover
.site-title__hover-text {
  display: none;

  .home & {
    display: block;
  }

  @include breakpoint(sm) {
    display: none;
  }
}

.home-page-nav {
  padding-bottom: 90px;
  margin-top: calc(#{$regular-font-line-height} + #{$page-top-gutter});

  .grid-mode & {
    margin-top: calc(#{$regular-font-line-height} + #{$page-top-gutter});
  }

  @include breakpoint(xs) {
    margin-top: calc(#{$hand-font-line-height} + 2em);

    .grid-mode & {
      margin-top: $hand-font-line-height * 2;
    }
  }
}

.site-title {
  position: fixed;
  padding: 0;
  z-index: 10;

  @include breakpoint(xs) {
    left: $gutter;
  }

  .grid-mode & {
    // margin-top: -($grid-mode-top-gutter - $page-top-gutter);
  }

  a {
    display: inline-block;
  }

  @include breakpoint(sm) {
    top: $page-top-gutter;
    // margin-top: -$hand-font-line-height;

    a:hover {
      .site-title__text,
      .site-title__hover-text {
        display: inline;
      }

      .site-title__text {
        visibility: hidden;
      }
    } // :hover

    .grid-mode & {
      // margin-top: -$hand-font-line-height * 2;
    }
  }
} // .site-title

.nav-outer-wrapper {
  @include gutters;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-col {
  @include gutters;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  @include breakpoint(xs) {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.navigation-list-wrapper {
  // @include gutters;

  @include breakpoint(xs) {
    & > .col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

//
// GRID MODE
//

.grid-mode {
  .home-page-nav {
    margin-top: 100px;
    padding-right: 0;
    width: 100%;

    @include breakpoint(xs) {
      margin-top: $hand-font-line-height * 3;
    }
  }
}

.grid-item {
  text-align: center;
  margin-bottom: 15px;

  &.grid-item--hover {
    img,
    .grid-item__title {
      opacity: 0;
    }

    .grid-item__category {
      opacity: 1;
    }
  }

  img {
    margin-bottom: 15px;
  }

  @include breakpoint(xs) {
    padding: 0 !important;
    margin-bottom: 1em;
  }
} // .grid-item

.grid-item__category {
  @include breakpoint(sm) {
    opacity: 0;
  }
}

.ajax-wrapper__post {
  @include breakpoint(sm) {
    overflow: hidden;
  }
}

.page .ajax-wrapper {
  .post__images {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.home__post-image--grid {
  display: none;
  opacity: 0;
  left: 0;
  background-size: cover;
  background-position: 50%, 50%;
  background-repeat: no-repeat;

  @include breakpoint(sm) {
    transition: opacity $tt;
  }
}

.home__post-title-wrapper--grid.active,
.single-project-closing .home__post-title-wrapper--grid {
  .home__post-image--grid {
    display: block;
  }
}
