body:not(.closing):not(.single-project-loaded) .home__post-title-wrapper:not(.active) {
  &:hover {
    .home__post-title,
    .home__post-category {
      display: inline;
    }

    .home__post-title {
      visibility: hidden;
    }

    .home__post-image {
      transform: translate(-50%, 0);
      z-index: 2;
    }
  } // :hover
} // .home__post-title-wrapper

.home__post-title-wrapper {
  display: inline-block;

  &:hover {
    // width: 100%;

    .home__post-title-link {
      display: inline-block;
    }
  }

  &.active {
    .home__post-image__inner {
      transform: translate(0, 0);
    }
  }
}

.home__post-category {
  display: none;
}

.home__post-image {
  position: fixed;
  // width: calc(100% + #{$gutter});
  width: 100%;
  height: 100vh;
  top: 0;
  left: 100%;
  z-index: 1;
  overflow: hidden;
  transition: transform $tt-long $easing;

  .grid-mode & {
    width: 100%;
  }
}

.home__post-image__inner {
  background-size: cover;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform: translate(-25%, 0);
  transition: transform $tt-long $easing;
}

.information-link-wrapper {
  position: fixed;
  top: 100%;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;

  a {
    color: #fff;
  }
}

.is-hovering-on-list-item,
.list-mode.js-single-project-closing {
  .information-link-wrapper {
    z-index: -1;
  }
}

.information-link-inner-wrapper {
  position: absolute;
  background: #000;
  width: 100%;
  height: 2em;
  top: -2em;
  line-height: 2;
  left: 0;
}

.information-link {
  &:hover {
    opacity: 0;
  }
}

.information__close-button {
  cursor: pointer;
}

// Information page
.page-information {
  .information-link-wrapper {
    transform: translate(0px, -100vh);
  }
}

// Home page single project ajax loaded
body.single-project-loaded {
  @include single-project;
} // body.single-project-loaded

body.closing {
  .home__post-image {
    // position: absolute;
  }

  .home__post-title-wrapper {
    display: inline-block;
  }

  .ajax-wrapper {
    display: block;
  }
}

.ajax-wrapper__featured-image {
  height: 100vh;
}

.ajax-wrapper {
  display: none;
  // padding-top: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  &,
  .content {
    background: #fff;
  }

  .color-scheme--dark & {
    &,
    .content {
      background: $dark-gray;
    }
  }
}

// Fanton site title rollover
.site-title__hover-text {
  display: none;
}

.home-page-nav {
  padding-bottom: 90px;
  margin-top: calc(#{$regular-font-line-height} + #{$page-top-gutter});

  .grid-mode & {
    margin-top: calc(#{$regular-font-line-height} + #{$page-top-gutter});
  }

  @include breakpoint(xs) {
    margin-top: $hand-font-line-height;

    .grid-mode & {
      margin-top: $hand-font-line-height * 2;
    }
  }
}

.site-title {
  padding: 0;
  position: fixed;
  top: $page-top-gutter;
  // margin-top: -$regular-font-line-height;
  z-index: 10;

  .grid-mode & {
    // margin-top: -($grid-mode-top-gutter - $page-top-gutter);
  }

  a {
    display: inline-block;
  }

  a:hover {
    .site-title__text,
    .site-title__hover-text {
      display: inline;
    }

    .site-title__text {
      visibility: hidden;
    }
  } // :hover

  @include breakpoint(xs) {
    margin-top: -$hand-font-line-height;

    .grid-mode & {
      margin-top: -$hand-font-line-height * 2;
    }
  }
} // .site-title

.nav-outer-wrapper {
  @include gutters;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-col {
  @include gutters;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.navigation-list-wrapper {
  // @include gutters;
}

//
// GRID MODE
//

.grid-mode {
  .home-page-nav {
    margin-top: 100px;
    padding-right: 0;
    width: 100%;
  }
}

.grid-item {
  text-align: center;
  margin-bottom: 15px;

  &.grid-item--hover {
    img,
    .grid-item__title {
      opacity: 0;
    }

    .grid-item__category {
      opacity: 1;
    }
  }

  img {
    margin-bottom: 15px;
  }

  @include breakpoint(xs) {
    padding: 0 !important;
    margin-bottom: 50px;
  }
} // .grid-item

.grid-item__category {
  opacity: 0;
}

.ajax-wrapper__post {
  overflow: hidden;
}

.page .ajax-wrapper {
  .post__images {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.home__post-image--grid {
  display: none;
  opacity: 0;
  left: 0;
  transition: opacity $tt;
  background-size: cover;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
}

.home__post-title-wrapper--grid.active,
.single-project-closing .home__post-title-wrapper--grid {
  .home__post-image--grid {
    display: block;
  }
}
