//
// Main
//

html.transitioning {
  overflow: hidden;
}

body {
  transition: background $tt;
}

.wrapper {
  @include breakpoint(xs) {
    padding: 10px;
  }
}

.site-title {
  text-transform: uppercase;
  transition: opacity $tt-long;
}

.information-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  height: 100vh;
  overflow: auto;
}

.information-open {
  .information-wrapper {
    display: block;
  }

  .site-title {
    color: #fff;
  }
}

.scroll-column {
  position: absolute;
  height: 100%;
  overflow-y: auto;
}

.scroll-column-1 {
  left: 0;
  padding-left: $gutters;
}

.scroll-column-2 {
  right: 0;
  padding-right: $gutters;
}

.large-gutters {
  padding-left: $gutters;
  padding-right: $gutters;
}
