// Shortcodes

.indented-character {
  & + br {
    display: none;
  }
}

.indented-character__character,
.indented-character__content {
  display: inline-block;
}

.indented-character__character {
  min-width: 6vw;

  @include breakpoint(sm) {
    min-width: 45px;
  }
}
