// Single post content

.home__post-title-wrapper.active {
  .home__post-image {
    transform: translate(-100%, 0);
  }
}

.list-mode.single-project-loaded {
  .home__post-title-wrapper.active {
    .home__post-image {
      transform: translate(calc(-100% + #{$gutter}), 0);
      width: calc(100% + #{$gutters});
    }
  }

  .page {
    .home__post-image {
      transform: translate(calc(-100% + #{$gutter}), 0);
    }
  }
}

.grid-mode.single-project-loaded {
  .home__post-image {
    width: calc(100% + #{$gutter});
    left: -$gutter;
  }

  .page {
    .home__post-image {
      width: calc(100% + #{$gutters});
    }
  }
}

.single-project-loaded {
  .home__post-title-link--grid-mode {
    cursor: default;
  }
}

.post__images {
  padding-top: $gutters;

  img {
    padding-bottom: $gutters;
  }

  .full-width-image {
    margin-left: -$gutter;
    margin-right: -$gutter;

    @include breakpoint(sm) {
      width: calc(100% + #{$gutters}) !important;
    }
  }

  .partial-width-image {
    padding: 0 $gutter;
  }
}

.post__images__image-wrapper {
  display: inline-block;

  @include breakpoint(xs) {
    width: 100% !important;
  }
}

.post__information-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #000;

  &,
  a {
    color: #fff;
  }

  .showing-post-information & {
    display: block;

    .post__information {

    }
  }
}

.showing-post-information {
  height: 100vh;
  overflow: hidden;
}

.post__information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.post__information__content {
  padding-top: calc(#{$page-top-gutter} + #{$regular-font-line-height});
}

.post__information__credits {
  padding-top: calc(#{$page-top-gutter} + (#{$regular-font-line-height} * 2));
}
