// Single post content

.single {
  .home__post-title-wrapper.active {
    .home__post-image {
      transform: translate(-100%, 0);
    }
  }
}

.single-project-loaded {
  .home__post-title-link--grid-mode {
    cursor: default;
  }
}

.post__images {
  @include rem(margin-left, -15px);
  @include rem(margin-right, -15px);

  img {
    @include rem(padding, 15px);
  }
}

.post__information-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #000;

  &,
  a {
    color: #fff;
  }

  .showing-post-information & {
    display: block;

    .post__information {

    }
  }
}

.showing-post-information {
  height: 100vh;
  overflow: hidden;
}

.post__information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em 3rem 0;
  overflow: auto;
}

.post__information__content {
  @include rem(padding-right, 25px);
}

.post__information__credits {
  @include rem(padding-left, 25px);
}
