//
// Variables
//

// Colors
$dark-gray: #1D1D1E;

// Fonts stacks
$recta-regular: 'recta', sans-serif;

// Typography settings
$regular-font-size: 2.3vw;
$regular-font-line-height: 2.7vw;

$hand-font-size: 3.8vw;
$hand-font-line-height: 5vw;

// Sizes
$space-tiny   : 5px;
$space-small  : 10px;
$space-medium : 20px;
$space-large  : 40px;
$space-huge   : 80px;

$single-post-info-header-height: 60px;

// Breakpoints
$break-ext  : 1600px;
$break-desk : 1230px;
$break-tab  : 1023px;
$break-hand : 767px;

// Transitions
$tt: 0.4s;
$tt-long: 0.8s;
$easing: cubic-bezier(0.23, 1, 0.32, 1);
