@font-face {
    font-family: 'recta';
    src: url('fonts/tt-recta.eot');
    src: url('fonts/tt-recta.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt-recta.woff2') format('woff2'),
         url('fonts/tt-recta.woff') format('woff'),
         url('fonts/tt-recta.ttf') format('truetype'),
         url('fonts/tt-recta.svg#rectaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
