@font-face {
    font-family: 'comune';
    src: url('fonts/tt-comune-regular.eot');
    src: url('fonts/tt-comune-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt-comune-regular.woff2') format('woff2'),
         url('fonts/tt-comune-regular.woff') format('woff'),
         url('fonts/tt-comune-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comune';
    src: url('fonts/tt-comune-regular_italic.eot');
    src: url('fonts/tt-comune-regular_italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt-comune-regular_italic.woff2') format('woff2'),
         url('fonts/tt-comune-regular_italic.woff') format('woff'),
         url('fonts/tt-comune-regular_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
