@font-face {
    font-family: 'recta';
    src: url('fonts/Recta-regular-webfont.eot');
    src: url('fonts/Recta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Recta-regular-webfont.woff2') format('woff2'),
         url('fonts/Recta-regular-webfont.woff') format('woff'),
         url('fonts/Recta-regular-webfont.ttf') format('truetype'),
         url('fonts/Recta-regular-webfont.svg#rectaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
